body {
    background-color: #F4F5F7;
}

.productTitles {
    display: none;
}

.maincontainer {
    margin: 0 auto;
    height: auto;
    width: 100vw;
}

.headerbox {
    margin: 0 auto;
    width: 1120px;
    height: auto;
    display: flex;
    flex-direction: row;
}

.header {
    font-size: 51px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #222222;
    line-height: 44px;
}

.productcartimage {
    display: inline-block;
    width: 17px;
    height: 14px;
}

/* .storecopy {
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #222222;
    display: inline-block;
    right: 20px;
} */

.storecopy p {
    right: 0;
}

.itemscontainer {
    width: 100%;
    height: auto;
}

hr {
    position: absolute;
    border: 1px solid #dadada;
    width: 1118px;
    display: none;
}

@media screen and (max-width:1200px) {
    .maincontainer {
        width: 100vw;
        height: 958px;
    }
    .headerbox {
        max-width: 668px;
    }
}

@media screen and (max-width:700px) {
    .maincontainer {
        width: 100vw;
        height: 1313px;
    }
    .headerbox {
        max-width: 285px;
    }
    .header {
        font-size: 28px;
        line-height: 44px;
    }
}