.watchcontainer {
    background-color: #fff;
    position: relative;
    width: 1120px;
    height: 282px;
    margin: 28px auto;
    border-radius: .4rem;
    display: flex;
    flex-direction: row;
}

.watchimage img {
    height: 282px;
    max-width: auto;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
}

.infocontainer {
    width: 100%;
    max-height: 100%;
}

.tp_box {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    margin-left: 60px;
}

.title {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    color: #000000;
    letter-spacing: -0.41px;
    font-weight: lighter;
}

.price {
    position: absolute;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: #202020;
    letter-spacing: -0.27px;
    font-weight: lighter;
    right: 60px;
    bottom: 0;
}

.inventory {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #939393;
    letter-spacing: 0;
    margin-top: 20px;
    margin-left: 60px;
}

.productbutton {
    color: #fff;
    background-color: #5E97D1;
    border: none;
    width: 139px;
    height: 41px;
    border-radius: 1.5rem;
    text-decoration: none;
    cursor: url(../Img/Cursor.png), auto;
    transition: all 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 80px;
    margin-left: 60px;
}

.productbutton:hover {
    background-color: #407FC0;
}

.cart_watch {
    display: none;
}

@media screen and (max-width: 1200px) {
    .watchcontainer {
        margin: 10px auto;
        max-width: 668px;
        height: 196px;
        display: flex;
        flex-direction: row;
    }
    .watchimage img {
        max-height: 196px;
        max-width: auto;
        border-top-left-radius: .4rem;
        border-top-right-radius: .0rem;
        border-bottom-left-radius: .4rem;
        width: auto;
    }
    .tp_box {
        max-width: 100%;
        height: auto;
        margin-top: 30px;
        margin-left: 30px;
    }
    .productbutton {
        width: 121px;
        height: 31px;
        font-size: 13px;
        letter-spacing: -0.14px;
    }
    .infocontainer {
        width: 100%;
        max-height: 100%;
    }
    .title {
        display: inline-block;
        font-size: 28px;
        letter-spacing: -0.23px;
    }
    .price {
        font-size: 21px;
        letter-spacing: -0.2px;
        right: 30px;
    }
    .inventory {
        font-size: 12px;
        letter-spacing: 0;
        margin-left: 30px;
        margin-top: 10px;
    }
    .productbutton {
        margin-top: 35px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 600px) {
    .watchcontainer {
        margin: 10px auto;
        max-width: 285px;
        height: 365px;
        display: flex;
        flex-direction: column;
    }
    .watchimage img {
        max-width: 100%;
        max-height: auto;
        border-top-left-radius: .4rem;
        border-top-right-radius: .4rem;
        border-bottom-left-radius: 0rem;
    }
    .productbutton {
        width: 121px;
        height: 31px;
        font-size: 13px;
        letter-spacing: -0.14px;
    }
    .tp_box {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
        margin-left: 20px;
    }

    .title {
        font-size: 21px;
        letter-spacing: -0.23px;
    }
    .inventory {
        font-size: 12px;
        letter-spacing: 0;
        margin-left: 20px;
    }
    .price {
        font-size: 16px;
        letter-spacing: -0.2px;
        right: 20px;
    }
    .productbutton {
        margin-top: 30px;
        margin-left: 20px;
    }
}